
hiroyukims.graphql.netcore/.vs/hiroyukims.graphql.netcore/v16/.suo
hiroyukims.graphql.netcore/.vs/hiroyukims.graphql.netcore/v16/Server/sqlite3/db.lock
hiroyukims.graphql.netcore/.vs/hiroyukims.graphql.netcore/v16/Server/sqlite3/storage.ide
hiroyukims.graphql.netcore/.vs/hiroyukims.graphql.netcore/v16/Server/sqlite3/storage.ide-shm
hiroyukims.graphql.netcore/.vs/hiroyukims.graphql.netcore/v16/Server/sqlite3/storage.ide-wal
.vs
